
<header class="mb-5">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Rails Bog App", creatures_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          </li>
        </ul>
      </div>
      <%= link_to "All Creatures", creatures_path, class: "btn btn-outline-secondary mr-1" %>
      <%= link_to "New Creature", new_creature_path, class: "btn btn-outline-info" %>
    </div>
  </nav>
</header>
